<!DOCTYPE html>
<html>  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Página não encontrada</title>
    <link rel="stylesheet" href="/css/404.css">
    <link rel="icon" href="/images/404.png" type="image/png">
  </head>
  <body >
    <div class="container">
      <h1>404</h1>
      <p>Página não encontrada</p>
      <button onclick="window.location.href='/';">Voltar para página inicial</button>
    </div>
  </body>
  <script src="/js/404.js"></script>
</html>