<!DOCTYPE html>
<html>  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Erro interno</title>
    <link rel="stylesheet" href="/css/500.css">
    <link rel="icon" href="/images/404.png" type="image/png">
  </head>
  <body >
    <div class="container">
      <h1>500</h1>
      <p>Aconteceu algum erro interno, estamos trabalhando para que tudo esteja em ordem!</p>
      <button onclick="window.location.href='/';">Voltar para página inicial</button>
    </div>
  </body>
  <script src="/js/500.js"></script>
</html>