<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            window.req = '<%- user %>'
        </script>
    </head>
    <body>

    </body>
    
    <script src="/js/verify.js"></script>
</html>